*,
*:before,
*:after {
  box-sizing: border-box;
  /*This is just to quickly troubleshoot.*/
}

html {
  height: 100%;
  font-size: 100%;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@-webkit-keyframes northern {
  0% {
    -webkit-transform: translate(5%, -2%);
            transform: translate(5%, -2%);
  }
  25% {
    -webkit-transform: translate(10%, 7%);
            transform: translate(10%, 7%);
  }
  40% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: translate(7%, -2%);
            transform: translate(7%, -2%);
  }
  85% {
    -webkit-transform: translate(6%, 3%) rotate(12deg);
            transform: translate(6%, 3%) rotate(12deg);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes northern {
  0% {
    -webkit-transform: translate(5%, -2%);
            transform: translate(5%, -2%);
  }
  25% {
    -webkit-transform: translate(10%, 7%);
            transform: translate(10%, 7%);
  }
  40% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: translate(7%, -2%);
            transform: translate(7%, -2%);
  }
  85% {
    -webkit-transform: translate(6%, 3%) rotate(12deg);
            transform: translate(6%, 3%) rotate(12deg);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
body {
  background: black;
  color: #A7A7A7;
  display: flex;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  height: 100%;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

/* Background
courtesy of: http://blog.lunarlogic.io/2016/boost-your-css-animation-performance-with-repaintless-css/
*/
.container {
  width: 120vw;
  height: 120vh;
  overflow: hidden;
  position: absolute;
  top: -px(-10);
  left: -0.625rem;
  right: -0.625rem;
  bottom: x(-10);
}

.auroral-northern {
  position: absolute;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  -webkit-animation-name: northern;
          animation-name: northern;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  background: linear-gradient(10deg, #C72037 20%, #170A36 40%, black 70%);
}

/* background end */
.content {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1.25rem 2.5rem;
  z-index: 100;
}

h1 {
  position: absolute;
  top: 0px;
  left: -5000px;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

header svg {
  width: 5rem;
}

h2 {
  color: white;
  font-size: 0.875rem;
  margin-bottom: 0.625rem;
  text-transform: uppercase;
}

p {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.4;
}

p:first-of-type {
  margin-bottom: 3.75rem;
}

ul {
  list-style-type: none;
  margin: 0 0 6rem;
  padding-left: 0;
}

ul li {
  margin-bottom: 0.625rem;
}

a,
a:link,
a:visited {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: color 150ms, border 400ms;
}

a:hover {
  border-bottom: 1px solid white;
  color: white;
}

a:active {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.8);
}

@media all and (min-width: 600px) {
  body {
    align-items: center;
  }

  .content {
    flex-direction: row;
  }

  header {
    margin-right: 2.5rem;
    padding-top: 0.0625rem;
  }

  h1,
  p {
    padding-top: 0;
    margin-top: 0;
    max-width: 31.25rem;
  }
}
.website-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}

