html,
body {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

[disabled],
[aria-disabled=true] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.5;
  cursor: not-allowed;
  text-decoration: none;
  pointer-events: none;
}

[hidden] {
  display: none;
}

[aria-hidden=true] {
  visibility: hidden;
}

body {
  background-color: #000e0e;
  color: #aad5d5;
}

heading,
main,
footer {
  display: block;
  width: 100%;
  max-width: 50rem;
  padding: 1rem;
  margin: 0 auto;
}

h1 svg {
  display: block;
  width: 100%;
  max-width: 5rem;
}

h1 span {
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4375rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.4;
  color: aqua;
  display: inline-block;
}

main * + * {
  margin: 0.5rem 0 0;
}

main p {
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}
@media screen and (min-width: 600px) {
  main p {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1000px) {
  main p {
    font-size: 1.4375rem;
  }
}
main p:first-of-type {
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8125rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
  color: #e3f1f1;
}
@media screen and (min-width: 600px) {
  main p:first-of-type {
    font-size: 2.3125rem;
  }
}
@media screen and (min-width: 1000px) {
  main p:first-of-type {
    font-size: 3.25rem;
  }
}
main p a {
  color: aqua;
}

main ul {
  padding-left: 1rem;
}
@media screen and (min-width: 600px) {
  main ul {
    padding-left: 1.75rem;
  }
}
@media screen and (min-width: 1000px) {
  main ul {
    padding-left: 3rem;
  }
}

main li {
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}
@media screen and (min-width: 600px) {
  main li {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1000px) {
  main li {
    font-size: 1.4375rem;
  }
}

h2 {
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4375rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.4;
  margin-top: 3rem;
  color: #e3f1f1;
}

footer {
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4375rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}

/*# sourceMappingURL=style.css.map */
