[visually-hidden],
[visually-hidden="true"] {
    position: absolute;
    top: 0;
    left: -5000px;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}