:root {
    --color-heading: #000;
    --color-bg-1: #E6F7FF;
    --color-bg-2: #000;
    --color-text: #707070;
    --color-text-tagline: #46748A;
    --color-submit-bg-default: #838383;
    --color-icon-check: #fff;
    --color-primary: #FF4F00;
    --color-icon-check: #fff;
    --color-button-secondary: #eee;
    --color-button-secondary-hover: var(--color-bg-1);
    --color-icon-news: #A5A5A5;
    --color-icon-news-hover: #42809E;
    --typestack-default: BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}