@use "saturnfive/reset" as *;
@use "saturnfive/index" as *;

body {
  background-color: get-color(teal, -8);
  color: get-color(teal, 6);
}

heading,
main,
footer {
  display: block;
  width: 100%;
  max-width: set-size(200);
  padding: set-size(4);
  margin: 0 auto;
}


h1 svg {
  display: block;
  width: 100%;
  max-width: set-size(20);
}

h1 span {
  @include set-type(display, 8, light);
  color: get-color(cyan);
  display: inline-block;
}

main * + * {
  margin: set-size(2) 0 0;
}

main p {
  @include set-type(body, 5);

  @include min-width-viewport(xs) {
    @include set-type-size(7);
  }

  @include min-width-viewport(md) {
    @include set-type-size(8);
  }

  &:first-of-type {
    @include set-type(masthead, 10, bold);
    color: get-color(teal, 8);

    @include min-width-viewport(xs) {
      @include set-type-size(12);
    }

    @include min-width-viewport(md) {
      @include set-type-size(15);
    }
  }

  & a {
    color: get-color(cyan);
  }
}

main ul {
  padding-left: set-size(4);

  @include min-width-viewport(xs) {
    padding-left: set-size(7);
  }

  @include min-width-viewport(md) {
    padding-left: set-size(12);
  }
}

main li {
  @include set-type(body, 5);

  @include min-width-viewport(xs) {
    @include set-type-size(7);
  }

  @include min-width-viewport(md) {
    @include set-type-size(8);
  }
}

h2 {
  @include set-type(display, 8, bold);
  margin-top: set-size(12);
  color: get-color(teal, 8);
}

footer {
  @include set-type(body, 8);
}